@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-color: #ffffff;
}





h2{
    text-align: center;
    margin: auto;
    margin-top: 20px;
    color: rgb(238, 247, 255);
    width: 350px;
    padding: 10px;
    border-radius: 5px;
    background-color: #141414;
}

#addDiv, #divTimer, #outDiv, #wTimer{

    
    max-width: 700px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
    user-select: none;
    
}
#wTimer{
    max-width: 650px;
    justify-content: space-between;
    margin-top: 0;
}



span{
    font-size: 5em;

}

#addDiv > .addTimeH, .addTimeM, .addTimeS{
    display: flex;
    
    text-align: center;
    display: inline;
    
    font-size: 5em;
    color: aliceblue;
    
    background-color: #8C3232;
    border-radius: 10px;


    width: 100px;

    cursor: pointer;
    transition: all 0.5s;
}


#divTimer > .hour, .minutes, .seconds{
    display: flex;
    
    text-align: center;
    display: inline;
    
    font-size: 8em;
    color: aliceblue;
    
    
    background-color: #202020;
    border-radius: 10px;
    

    width: 180px;
}

#outDiv > .outTimeH, .outTimeM, .outTimeS{
    display: flex;
    
    text-align: center;
    display: inline;
    
    font-size: 5em;
    color: aliceblue;
    
    
    background-color: #8C3232;
    border-radius: 10px;


    width: 100px;

    cursor: pointer;
    transition: all 0.5s;
}


#actions{
    user-select: none;
    display: flex;
    width: 400px;
    
    margin: auto;
    margin-top: 150px;
    justify-content: space-around;
    align-items: center;
    
    
}

#actions .material-symbols-outlined{
    user-select: none;
    text-align: center;

    padding: 10px;
    font-size: 4em;
    
    border-radius: 10px;
    color: aliceblue;
    background-color: #3a8a3a;

    cursor: pointer;
    transition: all 0.5s;
}









/*Hovers*/

#buttons:active{
    background-color: #000000;
}

#buttons:hover, #AcStart:active, #AcZero:active, #AcStop:active{
    box-shadow: 5px 9px 12px 0px rgba(0, 0, 0, 0.363);
    transform: scale(1.1);
} 



footer{
    display: block;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
    width: 200px;
    padding: 5px;

    background-color: #8C3232;
    color: aliceblue;
    border-radius: 10px;
}

footer:hover{
    background-color: #461515;
}








@media screen and (max-width: 480px){
    #divTimer > .hour, .minutes, .seconds{
        font-size: 5em;
    }



    #actions{
        width: 300px;
        font-size: 0.6em;
        
        margin: auto;
        margin-top: 100px;
        
    }

    #addDiv > .addTimeH, .addTimeM, .addTimeS{
        width: 80px;
    }

    #outDiv > .outTimeH, .outTimeM, .outTimeS{
        width: 80px;
    }

    body{
        background-color: #D9CEC1;
    }
}


#contain{
    max-width: 700px;
    margin: auto;
    margin-top: 10px;
    padding: 15px;
    background-color: #D9CEC1;
    border-radius: 10px;
}



